<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /   # Esto es importante para enrutamiento relativo

  # Redirigir todas las solicitudes a tu página principal de React
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
