.SecProject{
        
        margin: 0;
        padding: 0;
        font-family: Space Grotesk,sans-serif;
        
}

.project-1 {
  background-color: #888;
  
}

.project-2 {
  background-color: rgb(35, 158, 207);
}




/* CELULAR */
@media (max-width: 768px) {

  .project-title {
    width: 80%;
    margin: 380px auto;
    margin-bottom: 20px;
    transform: translateY(-50%); 
    text-align: center; 
  }
  
  
  
  .project-title h3 {
    font-size: 2rem; 
    font-weight: 700;
    padding: 1rem;
  }
  
  .project-title p {
    color: #888;
    font-weight: 700;
    font-size: 1rem; 
    margin-block-start: -20px;
    margin-block-end: -10px;
    margin-inline-start: 0px;
        
  }

.project-container {
    display: flex;

    flex-direction: column; 
    align-items: center;
    text-align: center; 

    margin-block-start: -100px;
    margin-block-end: -10px;
    margin-inline-start: 0px;
  }

  .project-container a {
    text-decoration: none;
  }
  
  .project-1,
  .project-2 {
    color: #efefef;
    
    width: 100%; 
    margin: 30px auto; 
  }
  

  
  .project-1 img,
  .project-2 img {
    width: 90%; 
    height: auto; 
    display: block;
    margin: 30px auto;
    image-rendering: pixelated;

  }
  
  .project-1 h4,
  .project-2 h4 {
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  .project-1 h2,
  .project-2 h2 {
    font-size: 1.5rem;
    
  }
  
  .project-1 p,
  .project-2 p {
    font-weight: 700;
  }
  


}



  
  





  
  





/* PANTALLA GRANDE */
  @media (min-width: 768px) {

   
  .project-title {
  
    width: 100%;
    margin: 0 auto; 
    margin-top: -100px;
    background-color: #fff;
    transform: translateY(-50%); 
    text-align: center; 
    
  }
  
  .project-title h3 {
    font-size: 2.5rem; 
    font-weight: 700;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
  
  
  
  .project-container {
    display: block;
    width: 90%;
    
    margin: 0 auto; 
    margin-top: -30px; 
    overflow: hidden; /* Evita el colapso de margen */
  }
  
  .project-1,
  .project-2 {
    width: 48%; 
    float: left; 
    margin: 10px; 
    border-radius: 2%;
    
    
  }
  
  
  
  .project-1 img,
  .project-2 img {
    width: 93%;
    height: 400px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 30px 25px;
    image-rendering: pixelated; 
    transition: transform 0.3s ease; 
  }

  .project-1:hover img,
  .project-2:hover img {
    transform: scale(1.05); 
  }


  
  .project-1 h4,
  .project-2 h4 {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 2rem;
    position: relative;
    color: #fff;
  }
  
  .project-1 h2,
  .project-2 h2 {
    font-size: 1.9rem;
    text-align: left;
    margin-left: 2rem;
    line-height: 0.9;
    position: relative;
    color: #fff;
    
  }
  
  .project-1 p,
  .project-2 p {
    margin-left: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 2rem;
    max-width: 24rem;
    position: relative;
    color: #fff;
  }
  

  }