.SecContaainer {
    margin: 0 auto;
    padding: 0;
    font-family: Space Grotesk,sans-serif;
    
}

/* CELULAR */
@media (max-width: 768px) {
  .img{
    background-image: url(/src/components/img/fondo-web-1.jpeg); 
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;
    image-rendering: pixelated; /* Mejora la calidad de las imágenes */
    align-items: flex-start;
}

  .img::before{
      content: "";
      position: absolute;   
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); 
      z-index: -1;        
  }


  .img h1,
  .img h4,
  .img h6 {
      color: #fff;
      display: block;   
      line-height: 1;
      margin-top: 0;
      backdrop-filter: blur(4rem);
  }

  .img h6{
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: 6rem;
    text-align: center;
  }

  .img h1 {
    font-size: 2.3rem;
    text-align: center;
    margin-top: -2rem;
  }

  .img h4 {
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
  }




  .my-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 180px;
  }
  
  .my-info-1 {
    text-align: center;
  }

  .my-info-1 h3{
    font-size: 2rem;
  }

  .my-info-1 p{
    font-size: 1.4rem;
    color: #828282;
    margin: 0 auto;
    padding: 0;
  }

  .my-info-1 h4{
    font-size: 2rem;
    
  }




  
  
  .my-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
  }
  
  .my-list li {
    text-align: center;
    display: block;
    width: 45%; 
    margin: 5px; 
    box-sizing: border-box; 
  }
  
  .my-list span {
    font-size: 1.7rem;
    
  }
  
  .my-list h4 {
    font-size: 1.5rem;
  }
  
  .my-list img {
    width: 80px;
    height: 80px;
    
  }

  .my-list p{
    font-size: 1.2rem;
    margin-top: -30px;
    color: #828282;
    font-weight: 400;
  }
}






/* PANTALLA GRANDE */
@media (min-width: 768px) {
  .img {
    height: 650px;
    background-image: url(/src/components/img/fondo-web-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    z-index: -1;
    margin-top: 10px;
    margin-left: 7rem;
    margin-right: 7rem;
    image-rendering: pixelated;
    animation: slideshow 15s infinite; /* Configura la animación */
    
  }

  .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    
  }

  .img h1,
  .img h4,
  .img h6 {
    color: #e5e5e5;
    margin-left: 3rem;
    line-height: 1;
    display: block;
    text-align: left;
    position: relative;
    margin-top: 0;
    font-family: Space Grotesk,sans-serif;
    backdrop-filter: none;
  }

  

  .img h6{
    font-size: 1rem;
    font-weight: 100;   
    line-height: 0;
    margin-left: 3.5rem;
  }

  .img h1 {
    font-weight: 700;
    font-size: 6rem;
    max-width: 50%;
 
  }

  .img h4 {
    font-size: 1.3rem;
    font-weight: 100;   
    margin-top: -2rem;
    margin-left: 3.5rem;
    
  }



  .my-info {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: 0px;
    margin-right: 12rem;
    margin-left: 12rem;
  }

  .my-info-1 {
    text-align: center;
    
  }

  .my-info-1 h3{
    font-size: 2.5rem;
  }

  .my-info-1 p{
    font-size: 1.4rem;
    margin: 0 auto;
    
    
  }

  .my-info-1 h4{
    font-size: 1.9rem;
    font-family: Space Grotesk,sans-serif;
    font-weight: 700;
    
  }
  
  .my-list {
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .my-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .my-list li {
    text-align: center;
    flex: 1;
    margin: 5px;
    width: calc(25% - 10px); /* Ajustar el ancho para 4 elementos en una fila */
    box-sizing: border-box;
  }
  
  .my-list span {
    font-size: 1.5rem; 
    
  }
  
  .my-list h4 {
    font-size: 1.2rem; 
    font-weight: 700;
  }
  
  .my-list img {
    width: 60px; 
    height: 60px; 
  }
  
  .my-list p{
    font-size: 1rem;
    margin-top: -20px;
    
  }

}

