<<<<<<< HEAD
.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 60px;
    padding: 3rem;
    margin: 3rem;
    font-family: Space Grotesk,sans-serif;
    margin-top: -4rem;
}

#one{
    background-color: #888;
}

#two{
    background-color: rgb(35, 158, 207);
}

#new-one{
    
    background-color: rgb(128, 137, 230);
}

#new-two{
    
    background-color: rgb(49, 187, 131);
}

/* PANTALLA GRANDE */
@media (min-width: 768px) {

    .Card {
        border-radius: 20px;
        box-shadow: 2px 2px 5px #333;
        text-align: center;
        width: 45%; 
        margin: 10px; 
        display: inline-block;
        vertical-align: top; 
        background-color: #333;
    }
    
    .Card a {
        text-decoration: none;
    }
    
    .Card h4 {
        text-align: left;
        color: #fff;
        font-size: 1rem;
        font-weight: 100;
        
    }
    
    .Card h2 {
        text-align: left;
        color: #fff;
        font-size: 1.7rem;
    }
    
    .Card p {
        text-align: left;
        color: #fff;
        font-size: 1rem;
        line-height: 1.2;
        max-width: 80%;
    }
    
    .Card h4,
    .Card h2,
    .Card p {
        margin-left: 1rem;
    }
    
    .Card img {
        margin-top: 3rem;
        width: 92%;
        height: 330px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 30px 25px;
        image-rendering: pixelated; 
        transition: transform 0.3s ease; 
        border-radius: 10px;
    }
    
    .Card img:hover {
        transform: scale(1.05); 
    }
    

    .title-card h3{
        font-size: 3rem;
        font-weight: 100;
        text-align: center;
    }
    
}



/* CELULAR */
@media (max-width: 768px) {
    .ProjectsContainer {
        margin: 0 auto;
        padding: 10px;
        font-family: Space Grotesk,sans-serif;
    }

    .Card {
        border-radius: 20px;
        box-shadow: 2px 2px 5px #333;
        text-align: center;
        width: 100%; 
        height: 550px;
        background-color: #333;
    }

    .Card a {
        text-decoration: none;
    }
    
    .Card h4 {
        text-align: left;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 100;
        
    }
    
    .Card h2 {
        text-align: left;
        color: #fff;
        font-size: 2rem;
        line-height: 1.2;
        margin-top: 0;
    }
    
    .Card p {
        text-align: left;
        color: #fff;
        font-size: 1.3rem;
        line-height: 1.2;
        max-width: 80%;
    }
    
    .Card h4,
    .Card h2,
    .Card p {
        margin-left: 1rem;
    }

    .Card img {
        margin-top: 3rem;
        width: 100%;
        height: 210px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        image-rendering: pixelated;
    }




    .title-card h3 {
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
    }
}











=======
.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 60px;
    padding: 3rem;
    margin: 3rem;
    font-family: Space Grotesk,sans-serif;
    margin-top: -4rem;
}

#one{
    background-color: #888;
}

#two{
    background-color: rgb(35, 158, 207);
}

#new-one{
    
    background-color: rgb(128, 137, 230);
}

#new-two{
    
    background-color: rgb(49, 187, 131);
}

/* PANTALLA GRANDE */
@media (min-width: 768px) {

    .Card {
        border-radius: 20px;
        box-shadow: 2px 2px 5px #333;
        text-align: center;
        width: 45%; 
        margin: 10px; 
        display: inline-block;
        vertical-align: top; 
        background-color: #333;
    }
    
    .Card a {
        text-decoration: none;
    }
    
    .Card h4 {
        text-align: left;
        color: #fff;
        font-size: 1rem;
        font-weight: 100;
        
    }
    
    .Card h2 {
        text-align: left;
        color: #fff;
        font-size: 1.7rem;
    }
    
    .Card p {
        text-align: left;
        color: #fff;
        font-size: 1rem;
        line-height: 1.2;
        max-width: 80%;
    }
    
    .Card h4,
    .Card h2,
    .Card p {
        margin-left: 1rem;
    }
    
    .Card img {
        margin-top: 3rem;
        width: 92%;
        height: 330px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 30px 25px;
        image-rendering: pixelated; 
        transition: transform 0.3s ease; 
        border-radius: 10px;
    }
    
    .Card img:hover {
        transform: scale(1.05); 
    }
    

    .title-card h3{
        font-size: 3rem;
        font-weight: 100;
        text-align: center;
    }
    
}



/* CELULAR */
@media (max-width: 768px) {
    .ProjectsContainer {
        margin: 0 auto;
        padding: 10px;
        font-family: Space Grotesk,sans-serif;
    }

    .Card {
        border-radius: 20px;
        box-shadow: 2px 2px 5px #333;
        text-align: center;
        width: 100%; 
        height: 550px;
        background-color: #333;
    }

    .Card a {
        text-decoration: none;
    }
    
    .Card h4 {
        text-align: left;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 100;
        
    }
    
    .Card h2 {
        text-align: left;
        color: #fff;
        font-size: 2rem;
        line-height: 1.2;
        margin-top: 0;
    }
    
    .Card p {
        text-align: left;
        color: #fff;
        font-size: 1.3rem;
        line-height: 1.2;
        max-width: 80%;
    }
    
    .Card h4,
    .Card h2,
    .Card p {
        margin-left: 1rem;
    }

    .Card img {
        margin-top: 3rem;
        width: 100%;
        height: 210px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        image-rendering: pixelated;
    }




    .title-card h3 {
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
    }
}











>>>>>>> 3adc0bf91cf645e18809c4f4423a93c3205ce0aa
