<<<<<<< HEAD
.NavContainer nav {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    
}

.NavContainer h2 {
    font-weight: 400;
    
}

.NavContainer span {
    font-weight: bold;
    
}

.Nav-logo a {
    font-size: 1.2rem;
    text-decoration: none;
    
}

/* Estilos para dispositivos móviles (menos de 768px) */
@media (max-width: 768px) {

    
    .Nav-logo a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #333;
        
    }



    .Nav-list {
        position: fixed;
        top: 50%; /* Centramos verticalmente */
        left: 50%; /* Centramos horizontalmente */
        transform: translate(-50%, -50%); /* Ajustamos el centro */
        background-color: #111;
        
        opacity: 1;
        z-index: 2;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: height 0.6s ease-in-out;
        margin-top: 36px;
        
        
    }

    .Nav-list.active {
        height: 90%; 
         
    }

    .Nav-list a {
        text-decoration: none;
        font-size: 2.6rem;
        display: block;
        text-align: center;
        margin: 0 ;
        margin-top: 20px;
        
    }

    .Nav-list a b {
        color: #999;
        margin-right: 20px;
        font-family: Space Grotesk,sans-serif;
        
    }





    .Nav-list .minifooter {
        margin-top: 150px;
        text-align: center;
    }
    
    .Nav-list .minifooter ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center; /* Centrar elementos horizontalmente */
    }
    
    .Nav-list .minifooter li {
        margin: 0;
        display: inline-flex;
        align-items: center; /* Centrar elementos verticalmente */
        margin-right: 20px; /* Espacio entre los elementos de la lista */
    }
    
    .Nav-list .minifooter a {
        font-size: 1rem;
    }
    
    .Nav-list .minifooter h1 {
        color: #999;
        margin: 0 auto;
        border-top: 1px solid #999;
        font-size: 2.3rem;
    }
    
    .Nav-list .minifooter img {
        background-color: #fff;
    }
    
    .Nav-list .minifooter p {
        margin: 0 auto;
        text-align: center;
    }
    


    .initial {
        position: fixed;
        background-attachment: fixed;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .6s ease;
        z-index: -1;
        opacity: 1;
        
    }

    .initial.active {
        z-index: -1;
        opacity: 0;
        
    }
}


/* PANTALLA GRANDE */
@media (min-width: 769px) {

    .Nav-list .home{
        display: none;
    }

    .Nav-logo a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #333;
    }


    .Nav-list {
        position: static;
        background-color: transparent;
        opacity: 1;
        z-index: 0;
        height: auto;
        transition: none;
        
    }

    

    .Nav-list a {
        text-decoration: none;
        margin-right: 2rem;
        font-size: 20px;
        display: inline;
        line-height: 1.9;
    }

    .Nav-list a b {
        color: #333;
        position: relative;
        transition: color 0.3s ease-in-out;
    }
    
    .Nav-list a b:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #999;
        bottom: 0;
        left: 50%;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    
    .Nav-list a b:hover {
        color: #333;
    }
    
    .Nav-list a b:hover:before {
        width: 100%;
        left: 0;
    }
    


    .Nav-list .minifooter{
        display: none;
        color: #fff;
    }

    .initial {
        position: absolute;
        background-attachment: fixed;
        margin: 0;
        top: -1000px;
        left: -1000px;
        right: 0;
        bottom: 0;
        transition: all .6s ease;
        z-index: -1;
        opacity: 1;
    }

    .initial.active {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0;
    }
}
=======
.NavContainer nav {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    
}

.NavContainer h2 {
    font-weight: 400;
    
}

.NavContainer span {
    font-weight: bold;
    
}

.Nav-logo a {
    font-size: 1.2rem;
    text-decoration: none;
    
}

/* Estilos para dispositivos móviles (menos de 768px) */
@media (max-width: 768px) {

    
    .Nav-logo a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #333;
        
    }



    .Nav-list {
        position: fixed;
        top: 50%; /* Centramos verticalmente */
        left: 50%; /* Centramos horizontalmente */
        transform: translate(-50%, -50%); /* Ajustamos el centro */
        background-color: #111;
        
        opacity: 1;
        z-index: 2;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: height 0.6s ease-in-out;
        margin-top: 36px;
        
        
    }

    .Nav-list.active {
        height: 90%; 
         
    }

    .Nav-list a {
        text-decoration: none;
        font-size: 2.6rem;
        display: block;
        text-align: center;
        margin: 0 ;
        margin-top: 20px;
        
    }

    .Nav-list a b {
        color: #999;
        margin-right: 20px;
        font-family: Space Grotesk,sans-serif;
        
    }





    .Nav-list .minifooter {
        margin-top: 150px;
        text-align: center;
    }
    
    .Nav-list .minifooter ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center; /* Centrar elementos horizontalmente */
    }
    
    .Nav-list .minifooter li {
        margin: 0;
        display: inline-flex;
        align-items: center; /* Centrar elementos verticalmente */
        margin-right: 20px; /* Espacio entre los elementos de la lista */
    }
    
    .Nav-list .minifooter a {
        font-size: 1rem;
    }
    
    .Nav-list .minifooter h1 {
        color: #999;
        margin: 0 auto;
        border-top: 1px solid #999;
        font-size: 2.3rem;
    }
    
    .Nav-list .minifooter img {
        background-color: #fff;
    }
    
    .Nav-list .minifooter p {
        margin: 0 auto;
        text-align: center;
    }
    


    .initial {
        position: fixed;
        background-attachment: fixed;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .6s ease;
        z-index: -1;
        opacity: 1;
        
    }

    .initial.active {
        z-index: -1;
        opacity: 0;
        
    }
}


/* PANTALLA GRANDE */
@media (min-width: 769px) {

    .Nav-list .home{
        display: none;
    }

    .Nav-logo a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #333;
    }


    .Nav-list {
        position: static;
        background-color: transparent;
        opacity: 1;
        z-index: 0;
        height: auto;
        transition: none;
        
    }

    

    .Nav-list a {
        text-decoration: none;
        margin-right: 2rem;
        font-size: 20px;
        display: inline;
        line-height: 1.9;
    }

    .Nav-list a b {
        color: #333;
        position: relative;
        transition: color 0.3s ease-in-out;
    }
    
    .Nav-list a b:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #999;
        bottom: 0;
        left: 50%;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    
    .Nav-list a b:hover {
        color: #333;
    }
    
    .Nav-list a b:hover:before {
        width: 100%;
        left: 0;
    }
    


    .Nav-list .minifooter{
        display: none;
        color: #fff;
    }

    .initial {
        position: absolute;
        background-attachment: fixed;
        margin: 0;
        top: -1000px;
        left: -1000px;
        right: 0;
        bottom: 0;
        transition: all .6s ease;
        z-index: -1;
        opacity: 1;
    }

    .initial.active {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0;
    }
}
>>>>>>> 3adc0bf91cf645e18809c4f4423a93c3205ce0aa
