.FooterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  
  margin-top: 1rem;
  flex-direction: column; 
  text-align: center; 
}


.footer-1 {
  background-color: #111;
  padding: 20px;
  color: white;
  font-family: Space Grotesk, sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; 
  text-align: left;
   
}

.footer-1 h1 {
  font-size: 54px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.footer-list ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-list li img {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
}

.footer-list li p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.footer-list h6 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #888;
  font-weight: 700;
}

.footer-list li a {
  text-decoration: none;
  color: white;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  clear: both;
  width: 100%;
}



/* CELULAR */
@media (max-width: 768px)  {
  .footer-1 {
    flex-direction: column;
    align-items: center;
    
  }


  .footer-list ul {
    display: block; 
    margin-top: 40px;
    
  }

  .footer-list li {
    margin-top: 30px;
    margin: 40px;
    
  }
}









/* PANTALLA GRANDE */
@media (min-width: 1268px) {

  .FooterContainer {
    margin: 20px; 
    width: 94.5%;
}

.footer-1 {
    background-color: #111;
    padding: 20px;
    color: white;
    font-family: Space Grotesk, sans-serif;
    text-align: center;
    margin-top: 3rem;
}

.footer-1 h1 {
    font-size: 54px;
    font-weight: 700;

    
}

.footer-list {
    display: flex;
    margin-left: auto ;
    justify-content: center;
    margin-top: 0px;
    
}

.footer-list ul {
    list-style: none;
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;

}

.footer-list li {
    margin: 0px 40px;
    margin-bottom: 20px; 
}



.footer-list li p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    
}

.footer-list h6 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #888;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    
}

.footer-list li a {
    text-decoration: none;
    color: white;
}

.copyright h5 {
    font-size: 16px;
    margin-top: 40px; 
    font-weight: 700;
    color: #d9d9d9;
    text-align: center;
    border-top: 1px solid #888 ;
    
}



}